<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483655354864-6ugc3vomemuqukd1ghrgf286luajfplq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483655354864-6ugc3vomemuqukd1ghrgf286luajfplq</string>
	<key>API_KEY</key>
	<string>AIzaSyD-bVnzTPxxwEHgj1vSl-BeV5wqdGJjYgA</string>
	<key>GCM_SENDER_ID</key>
	<string>483655354864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roqay.ostaz</string>
	<key>PROJECT_ID</key>
	<string>ostaz-a2a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>ostaz-a2a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483655354864:ios:21e89699c7e1a5bd38f535</string>
</dict>
</plist>